.advantages {
  background: #f8fdff;
}

.advantages__list {
  max-width: 1220px;
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  box-sizing: content-box;
  list-style-type: none;

  @media (min-width: $vp-1024) {
    grid-template-columns: 49% 49%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 120px 45px 0 50px;
  }

  @media (min-width: $vp-768) {
    grid-template-columns: 48% 48%;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 80px 50px 0 47px;
  }

  @media (min-width: $vp-320) {
    grid-template-columns: 270px;
    grid-column-gap: 0;
    grid-row-gap: 30px;
    padding: 50px 25px 25px 18px;
  }
}

.advantages__item {
  max-width: 595px;
  box-sizing: content-box;
  border: 1px solid #ebebeb;
  border-left: solid 5px #00b2ff;

  @media (min-width: $vp-1024) {
    padding: 45px 25px 17px 40px;
  }

  @media (min-width: $vp-768) {
    padding: 40px 25px 30px 45px;
  }

  @media (min-width: $vp-320) {
    max-height: 100%;
    padding: 30px 25px 74px 30px;
  }
}

.advantages__item-svg {
  fill: #00b2ff;

  @media (min-width: $vp-768) {
    width: 35px;
    height: 35px;
  }

  @media (min-width: $vp-320) {
    width: 30px;
    height: 30px;
  }
}

.advantages h3 {
  margin: 0;
  color: #00b2ff;
  font-style: normal;

  @media (min-width: $vp-1024) {
    padding: 10px 0 10px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  @media (min-width: $vp-768) {
    padding: 10px 0 5px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
  }

  @media (min-width: $vp-320) {
    padding: 5px 0 7px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
  }
}

.advantages p {
  margin: 0;
  color: #041827;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;

  @media (min-width: $vp-1024) {
    min-height: 140px;
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $vp-768) {
    min-height: 165px;
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $vp-320) {
    min-height: 110px;
    font-size: 14px;
    line-height: 135%;
  }
}

.advantages__item:hover {
  background: #00b2ff;
}

.advantages__item:hover h3 {
  color: #f2f5f7;
}

.advantages__item:hover p {
  color: #f2f5f7;
}

.advantages__item:hover .advantages__item-svg {
  fill: #f2f5f7;
}
