footer {
  background: #041827;
}

.footer-conteiner {
  max-width: 1220px;
  margin: 0 auto;
  box-sizing: content-box;

  @media (min-width: $vp-1024) {
    display: flex;
    justify-content: space-between;
    padding: 50px 40px 55px 45px;
  }

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 30px;
    grid-row-gap: 25px;
    padding: 50px 45px 65px 50px;
  }

  @media (min-width: $vp-320) {
    display: block;
    padding: 35px 0;
  }
}
