.link {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  box-sizing: content-box;

  @media (min-width: $vp-1024) {
    padding-top: 5px;
    margin-right: -10px;
    margin-left: auto;
  }

  @media (min-width: $vp-768) {
    padding: 0;
    border: none;
  }

  @media (min-width: $vp-320) {
    padding: 20px 5px 20px 25px;
    border-top: 1px solid rgba(248, 253, 255, 0.7);
    border-bottom: 1px solid rgba(248, 253, 255, 0.7);
    cursor: pointer;
  }
}

.link__title {
  position: relative;

  @media (min-width: $vp-320) {
    display: flex;
    align-items: center;
  }
}

.link h4 {
  padding-bottom: 15px;
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @media (min-width: $vp-320) {
    padding-bottom: 0;
  }
}

.link__button {
  margin-left: auto;
  border: none;
  color: transparent;
  background-color: #041827;
  cursor: pointer;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.accord--closed .link__button {
  @media (min-width: $vp-768) {
    display: none;
  }

  @media (min-width: $vp-320) {
    position: absolute;
    top: -13px;
    right: 10px;
    display: block;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 17px;
      width: 15px;
      height: 1px;
      background-color: #f8fdff;
    }

    &::before {
      transform: rotate(0deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-90deg);
    }

    &:active::before,
    &:active::after {
      background-color: fade(#f8fdff, 30%);
    }
  }
}

.accord--closed .link__button:hover {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 17px;
    width: 15px;
    height: 1px;
    background-color: #00b2ff;
  }

  &::before {
    transform: rotate(0deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-90deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#00b2ff, 30%);
  }
}

.accord--oppened .link__button {
  @media (min-width: $vp-768) {
    display: none;
  }

  @media (min-width: $vp-320) {
    position: absolute;
    top: -13px;
    right: 10px;
    display: block;
    padding: 0;
    width: 100%;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      right: 17px;
      width: 15px;
      height: 1px;
      background-color: #f8fdff;
    }

    &::before {
      transform: rotate(0deg);
      box-shadow: none;
    }

    &:active::before,
    &:active::after {
      background-color: fade(#f8fdff, 30%);
    }
  }
}

.accord--oppened .link__button:hover {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 17px;
    width: 15px;
    height: 1px;
    background-color: #00b2ff;
  }

  &::before {
    transform: rotate(0deg);
    box-shadow: none;
  }

  &:active::before,
  &:active::after {
    background-color: fade(#00b2ff, 30%);
  }
}

.link__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $vp-1024) {
    column-count: 2;
    flex-wrap: wrap;
  }

  @media (min-width: $vp-768) {
    display: block;
    padding-top: 20px;
  }

  @media (min-width: $vp-320) {
    display: none;
    box-sizing: content-box;
    min-height: 150px;
    padding-top: 20px;
  }
}

.accord--oppened .link__list {
  @media (min-width: $vp-320) {
    display: block;
  }
}

.link__list-item {
  width: 220px;
  padding-bottom: 5px;
  padding-right: 10px;
  box-sizing: content-box;
}

.link__list-item:last-child {
  @media (min-width: $vp-1920) {
    padding-bottom: 50px;
  }
}

.link__list-link {
  color: rgba(255, 255, 255, 0.7);
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.link__list-link:hover {
  color: #00b2ff;
}

.link--closed--nojs .link__list {
  @media (min-width: $vp-320) {
    display: block;
  }
}
