.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.wrapper-opened {
  position: fixed;
}

.overlay {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(3, 16, 27, 0.7);
    z-index: 2;
  }
}

